<div class="wide-top-bar">
    <h1>Amigos</h1>
</div>
<div id="main">
    <% for i in 1..30%>
    <section class="amigos">
        <hgroup>
            <h1><img src="https://graph.facebook.com/luizpicolo/picture?width=200&amp;height=200" title="Gabriel Medina"></h1>
            <h2>Nome da pessoa</h2>
        </hgroup>
    </section>
    <%end%>
</div>

