<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width">
  	<title>CLOUD University</title>
	<link type="text/css" rel="stylesheet" href="/css/principal.css">
	
	<script type="text/javascript" src="/js/vendor/custom.modernizr.js"></script>
</head>
<body>
    <section id="login">
        <header>
            <hgroup>
                <h1 id="logo">
                    <i class="icon-cloud"></i>
                    CLOUD University
                </h1>
                <h2>Sua agenda OnLine</h2>
            </hgroup>
        </header>
        <%=flash_messenger_return()%>
        <div id="border-login">
            <form method="post" action="/auth/developer/callback">
                <div class="row">
                  <div class="large-12 columns">
                    <label for="usuario">Input Label</label>
                    <input type="text" name="usuario" id="usuario" placeholder="Usuário">
                  </div>
                </div>
                <div class="row">
                  <div class="large-12 columns">
                    <label for="senha">Input Label</label>
                    <input type="password" name="senha" id="senha" placeholder="Senha">
                  </div>
                </div>
                <div class="row">
                  <div class="large-12 columns">
                    <input type="submit" id="submit" class="large button expand" value="Entrar">
                  </div>
                </div>
            </form>
            <p>ou</p>
            <div class="row">
              <div class="large-12 columns">
                <a href="/auth/facebook" class="large button expand facebook"><i class="icon-facebook"></i>Logar com Facebook</a>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <a href="/auth/twitter" class="large button expand twitter"><i class="icon-twitter"></i>Logar com Twitter</a>
              </div>
            </div>
        </div>
    </section>
    
	<script>$(document).foundation();</script>
</body>
</html>
