<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width">
  	<title>O titulo vai Aqui</title>
	<link type="text/css" rel="stylesheet" href="/css/principal.css">
	
	<script type="text/javascript" src="/js/vendor/custom.modernizr.js"></script>
</head>
<body>
    <section id="pagina-erro">
        <hgroup>
            <h1 id="logo">
                <i class="icon-cloud"></i>
                CLOUD University
            </h1>
            <h2>404. Página não Encontrada</h2>
        </hgroup>
    </section>
	<script>$(document).foundation();</script>
</body>
</html>
