<div class="wide-top-bar">
    <h1>Tarefas em Destaque</h1>
</div>
<div id="main">
    <div class="row">
        <div class="large-12 columns">
            <header id="perfil-usuario">
                <h1><img src="https://graph.facebook.com/shaverm/picture?width=200&height=200 "></h1>
                <h2>Gabriel Medica</h2>
            </header>
        </div>
    </div>
</div>