<div class="wide-top-bar">
    <a href="/tarefas/cadastro" class="button" data-reveal-id="myModal" data-reveal-ajax="true">
      <i class="icon-plus"></i>
      Adicionar
    </a>
</div>

<div id='calendar'></div>

<div class="reveal-modal-bg" style="display: none">
    <div id="myModal" class="reveal-modal medium"></div>
</div>